.view {
  margin: auto;
  width: 350px;
  height: 500px;
}

.blackCable {
  width: 10px;
  height: 50px;
  margin: auto;
  background-color: black;
}

.lightWrapper {
  margin: auto;
  background-color: black;
  width: 55px;
  padding: 3px;
  border-radius: 5px;
}

.light {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding: 5px;
  margin-bottom: 5px;
}